<div class="overlay">
</div>
<div class="hp-grid">

  <%= inline_svg_tag('circle.svg', class: 'circle door1') %>
  <div class="triangles door2">
    <%= inline_svg_tag('triangle.svg', class: 'triangle') %>
    <%= inline_svg_tag('triangle2.svg', class: 'triangle') %>
  </div>
  <div class="squares door3">
    <%= inline_svg_tag('square.svg', class: 'square') %>
    <%= inline_svg_tag('square2.svg', class: 'square') %>
  </div>

  <%= inline_svg_tag('lines-01.svg', class: 'line-left') %>
  <%= inline_svg_tag('lines-02.svg', class: 'line-left') %>
  <%= inline_svg_tag('lines-03.svg', class: 'line-left') %>
  <div class="key"></div>

  <div class="bells">
    <div class="bell">
      1
      <div data-id="1" class="bell-placeholder"></div>
    </div>
    <div class="bell">
            2
      <div data-id="2" class="bell-placeholder"></div>
    </div>
    <div class="bell">
            3
      <div data-id="3" class="bell-placeholder"></div>
    </div>
    <div class="bell">
            4
      <div data-id="4" class="bell-placeholder"></div>
    </div>
  </div>
</div>

