<!-- <div class="overlay">
</div> -->
<div class="hp-grid">

  <%= inline_svg_tag('circle.svg', class: 'circle') %>
  <%= inline_svg_tag('triangle.svg', class: 'triangle') %>
  <%= inline_svg_tag('triangle2.svg', class: 'triangle') %>
  <%= inline_svg_tag('square.svg', class: 'square') %>
  <%= inline_svg_tag('square2.svg', class: 'square') %>

  <div class="key"></div>

  <div class="bells">
    <div data-id="1" class="bell">1</div>
    <div data-id="2" class="bell">2</div>
    <div data-id="3" class="bell">3</div>
    <div data-id="4" class="bell">4</div>
  </div>
</div>
