<div class="overlay">
</div>
<div class="hp-grid">
  <div class="circle-vline">
    <div class="circle-vline2"></div>
  </div>

  <div class="circle-hline"></div>
  <div class="circle-button-placeholder"></div>
  <div class="circle-button"></div>
  <%= inline_svg_tag('circle.svg', class: 'circle') %>
  <%= inline_svg_tag('triangle.svg', class: 'triangle') %>
  <%= inline_svg_tag('triangle2.svg', class: 'triangle') %>
  <%= inline_svg_tag('square.svg', class: 'square') %>
  <%= inline_svg_tag('square2.svg', class: 'square') %>
</div>
